@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=);

:root{
    --main-color: #6469f5;
    --secondary-color: #7b7ff6;
    --light-color: #f5f4fa;
    --white-color: white;
}

*{
    margin: 0;
    padding: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #222;
    background-color: var(--white-color);
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.site{
    position: relative;
}

._bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
}

._bg::before{
    content: '';
    position: absolute;
    top: -150px;
    width: 100%;
    height: 150px;
    background-color: var(--secondary-color);
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 80px;
    color: var(--white-color);
    margin-bottom: 5em;
}

nav .logo a{
    font-size: 1.65em;
    font-weight: 800;
}

nav ul{
    display: none;
    gap: 50px;
    font-weight: 600;
}

nav a{
    display: flex;
}

.contact{
    position: relative;
    background-color: var(--white-color);
    padding: 60px;
    border-radius: 10px;
    max-width: 960px;
    margin: 4em auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0 18px 50px -10px;
}

.contact::after{
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    top: 0;
    left: 0;
    background-color: var(--white-color);
    border-radius: 10px;
    z-index: 0;
}

.split{
    display: flex;
    flex-direction: column;
}

.split > div:not(.right){
    flex: 1 0 50%;
    position: relative;
    z-index: 1;
}

.split .middle{
    max-width: 430px;
    margin: 0 auto;
}

.contact h1{
    font-size: 2em;
    color: var(--main-color);
    font-weight: 800;
}

.contact :is(input,textarea){
    border: 0;
    background-color: var(--light-color);
    padding: 15px 20px;
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    outline: 0;
}

.contact p{
    margin-bottom: 20px;
}

.contact .button{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
}

.contact .button:hover{
    background-color: #544af4;
}

.middle .image{
    width: 100%;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 20px;
}

.middle .image img{
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.middle .address li ion-icon{
    margin-right: 20px;
    font-size: 20px;
    color: var(--main-color);
    opacity: .75;
}

.middle .address li{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.split .right{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-radius: 0 0 10px 10px;
}

.split .right ul{
    display: flex;
    flex-direction: row;
}

.split .right ul li a {
    color: #d0d0d0;
    display: flex;
    padding: 10px;
    transform: translateX(0);
    transition: transform .3s
}

.split .right li a:hover{
    transform: translateX(5px);
    color: var(--main-color);
}







@media screen and (min-width: 768px) {
    nav ul{
        display: flex;
    }
    nav > a {
        display: none;
    }
    .split{
        flex-direction: row;
    }
    .split .middle {
        padding: 0 60px;
    }
    .split .right{
        width: 60px;
        right: 0;
        top: 0;
        left: auto;
        height: auto;
        border-radius: 0 10px 10px 0;
    }
    .split .right ul{
        flex-direction: column;
    }
    .contact::after{
        width: calc(100% - 50px);
        height: 100%;
    }
}